# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT
# 在驱动Kconfig文件中添加
config LED_STRIP_REMAP
    bool "LED Strip Remapping"
    default y

config ZMK_LED_INDICATORS
    bool "LED Indicators Support"
    default y
