config LED_STRIP_REMAP
    bool "LED Strip Remapping Support"
    default y
    help
      Enable LED strip remapping and layer indicators

config ZMK_LED_INDICATORS
    bool "ZMK LED Indicators"
    default y
    depends on LED_STRIP_REMAP
